<style>
    footer.web-site .logo {
        background: url('/assets/img/logo.svg') no-repeat center/100% !important;
    }

    footer.web-site .social.facebook {
        background: url('/assets/img/social/facebook.svg') no-repeat center/100% !important;
    }

    footer.web-site .social.pinterest {
        background: url('/assets/img/social/pinterest.svg') no-repeat center/100% !important;
    }

    footer.web-site .social.instagram {
        background: url('/assets/img/social/instagram.svg') no-repeat center/95% !important;
    }

    footer.web-site .social.youtube {
        background: url('/assets/img/social/youtube.svg') no-repeat center/100% !important;
    }
</style>

<footer class="web-site">
    <div class="container">
        <div class="left">
            <p>
                <strong>Comunidade</strong>&nbsp;
                <a href="/about.html" style="text-decoration: none">Sobre a C37</a>&nbsp;●
                <a href="https://status.c37.co" style="text-decoration: none">Status</a>&nbsp;●
                <a href="/open-source.html" style="text-decoration: none">Open Source</a>&nbsp;●
                <a href="https://firebasestorage.googleapis.com/v0/b/c37-website.appspot.com/o/documentation%2FC37-Terms.pdf?alt=media&token=f3d57209-b580-4e3d-b656-4a09b2f4b5c1" target="_blank" style="text-decoration: none">Termos</a>&nbsp;●
                <a href="https://firebasestorage.googleapis.com/v0/b/c37-website.appspot.com/o/documentation%2FC37-Privacy.pdf?alt=media&token=709f395d-00d1-4ed5-9598-a375444116db" target="_blank" style="text-decoration: none">Política</a>
            </p>
            <p>
                <strong>Social</strong> &nbsp;
                <a href="#" target="_blank">
                    <i class="social facebook"></i>
                </a>
                &nbsp;
                <a href="#" target="_blank">
                    <i class="social pinterest"></i>
                </a>
                &nbsp;
                <a href="#" target="_blank">
                    <i class="social instagram"></i>
                </a>
                &nbsp;
                <a href="#" target="_blank">
                    <i class="social youtube"></i>
                </a>
            </p>
        </div>
        <div class="right">
            <table>
                <tr>
                    <td>
                        <a href="#">
                            <i class="logo"></i>
                            <strong class="logo-caption">C37&reg; - {{ site.time | date: "%Y" }}</strong>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</footer>





<script>
    window.addEventListener('loader', function () {
        ! function (e, n, t, a, c, o, s) {
            e.GoogleAnalyticsObject = c, e[c] = e[c] || function () {
                    (e[c].q = e[c].q || []).push(arguments)
                }, e[c].l = 1 * new Date, o = n.createElement(t), s = n.getElementsByTagName(t)[0], o.async = 1,
                o.src =
                a, s.parentNode.insertBefore(o, s)
        }(window, document, "script", "//www.google-analytics.com/analytics.js", "ga")
        ga('create', 'UA-36787725-2', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    });

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return
        };
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>