extends ../layout/_store

block content-store

    br
    .row
        .span3
            .white-card
                .img-w
                    img(src='img/test-square.png')
                h5 Comprar Rizu
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .span3
            .white-card
                .img-w
                    img(src='img/test-square.png')
                h5 Assinar RiLi
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .span3
            .white-card
                .img-w
                    img(src='img/test-square.png')
                h5 Comprar Acessórios
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .span3
            .white-card
                .img-w
                    img(src='img/test-square.png')
                h5 Comprar Peças
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.