extends layout/page

block content
    .gd
        .cll-1
            .sld
                ul.mgs
                    li
                        a(href='#')
                            img(src='/img/slider/slider-1-1.jpg')
                        .ttl
                            h2 Um jeito novo de fazer as suas coisas.
                            h3 Com você em todas as etapas. Com você em todas as etapas. Com você em todas as etapas.
                    li
                        a(href='#')
                            img(src='/img/slider/slider-1-2.jpg')
                        .ttl
                            h2 Compartilhando conhecimento, multiplicando resultados.
                            h3 Criamos, inovamos e investimos em você. Criamos, inovamos e investimos em você. Criamos, inovamos e investimos em você.
                    li
                        a(href='#')
                            img(src='/img/slider/slider-1-3.jpg')
                        .ttl
                            h2 Um jeito novo de fazer as suas coisas.
                            h3 Com você em todas as etapas. Com você em todas as etapas. Com você em todas as etapas.

                    li
                        a(href='#')
                            img(src='/img/slider/slider-1-4.jpg')
                        .ttl
                            h2 Um jeito novo de fazer as suas coisas.
                            h3 Com você em todas as etapas. Com você em todas as etapas. Com você em todas as etapas.

                    li
                        a(href='#')
                            img(src='/img/slider/slider-1-5.jpg')
                        .ttl
                            h2 Um jeito novo de fazer as suas coisas.
                            h3 Com você em todas as etapas. Com você em todas as etapas. Com você em todas as etapas.


                ul.ctl
                    li.crt
                    li
                        a(href='#')
                        img(src='/img/slider/slider-1-1.jpg')
                    li
                        a(href='#')
                        img(src='/img/slider/slider-1-2.jpg')
                    li
                        a(href='#')
                        img(src='/img/slider/slider-1-3.jpg')
                    li
                        a(href='#')
                        img(src='/img/slider/slider-1-4.jpg')
                    li
                        a(href='#')
                        img(src='/img/slider/slider-1-5.jpg')


    br

    .gd
        .cll-1
            .mn-scr
                ul
                    li.cll-4-12
                        a(href='#')
                            img.mn-scr-tm(src='/img/logotype/c37-full.png', width="65px", data-type="icon")
                            h2.mn-scr-tm(data-type="mText") Independência
                            p.mn-scr-tm(data-type="sText")
                                | Trabalhar em casa, no seu próprio negocio, ter mais tempo para a familia, mais tempo para os amigos...

                    li.cll-4-12
                        a(href='#')
                            img.mn-scr-tm(src='/img/logotype/c37-full.png', width="65px", data-type="icon")
                            h2.mn-scr-tm(data-type="mText") Produtividade
                            p.mn-scr-tm(data-type="sText")
                                | Ter acesso a novos mercados, aumentar sua produção, diminuir seus custos, obter mais lucro...

                    li.cll-4-12
                        a(href='#')
                            img.mn-scr-tm(src='/img/logotype/c37-full.png', width="65px", data-type="icon")
                            h2.mn-scr-tm(data-type="mText") Diversão
                            p.mn-scr-tm(data-type="sText")
                                | Aeromodelismo, Automodelismo e Ferromodelismo, praticar aquele hobbie tão desejado...

    br

    .gd
        .cll-7-12
            h1 Hoje
            p.pfc A c37 quer apoiar seu sonho, sua aspiração e seu talento
            p.pfc Quer provocar em voce um desejo de mudança
            p.pfc Alterar sua situação de uma forma planejada, estruturada e premeditada.

        .cll-5-12
            img(src="img/browser-window.png")

    br
    br

    .gd
        .cll-5-12
            img(src="img/browser-window.png")

        .cll-7-12
            h1 Estamos aqui
            p.pfc Pelo que se concretiza
            p.pfc Pelo que se empreende
            p.pfc Pelos riscos que se assume
            p.pfc Pelas dificuldades que se enfrenta
            p.pfc Pelo sucesso.

    br
    br

    .gd
        .cll-7-12
            h1 Possibilidades
            p.pfc Criamos caminhos para colocar em pratica seu desejo de transformação.
            p.pfc
                | Criamos caminhos para colocar em pratica seu desejo de transformação.
            p.pfc
                | Oferecemos uma estrutura completa de &nbsp;
                a(href="/education") informações
                | ,&nbsp;
                a(href="/rizu") maquina-ferramenta
                | ,&nbsp;
                a(href="/lilo") softwares
                | &nbsp;e troca de &nbsp;
                a(href="/rili") experiencias
                | &nbsp;para que voce adquira conhecimento, desenvolva habilidades e produza para alcançar sua  independencia profissional e financeira.

        .cll-5-12
            img(src="img/browser-window.png")

    br

    .gd
        .cll-1
            .bxt-l
                h1 Aqui na c37 sua imaginação é o nosso limite
                p Use it to provide information when no dynamic content exists.

    br

    .gd
        .cll-3-12
            img(src="img/browser-window.png")
            h3 Artesanato
            p
                | Faça em casa!
                br
                | Acessorios para o lar, lembrancinhas, brinquedos e artigos pessoais.

        .cll-3-12
            img(src="img/browser-window.png")
            h3 Marcenaria

        .cll-3-12
            img(src="img/browser-window.png")
            h3 Hobbie
            p
                | Automodelismo, Nautimodelismo, Aeromodelismo e muito mais.
                br
                | Suas paixões sem limites!

        .cll-3-12
            img(src="img/browser-window.png")
            h3 Eletrônica
            p
                | Sua produção ainda mais precisa, com maior produtividade e em tempo reduzido.

    br
    br

    .gd
        .cll-1.txt-cnt
            em
                h2 O que apenas nós fazemos por voce

    .gd
        .cll-1
            .mn-vtc
                ul
                    li.cll-3-12
                        img(src='/img/test-square.png')
                        em
                            h3 Inovação
                        p Impacto nos processos

                    li.cll-3-12
                        img(src='/img/test-square.png')
                        em
                            h3 Qualidade
                        p Completos, selecionados e duráveis

                    li.cll-3-12
                        img(src='/img/test-square.png')
                        em
                            h3 Ensino
                        p O caminho para o sucesso

                    li.cll-3-12
                        img(src='/img/test-square.png')
                        em
                            h3 Produto Brasileiro
                        p Simples e eficiênte

    br
    br
    br
