extends layout/page

block content
    #homepage-carousel.carousel.slide.over-something
        .carousel-inner.slider-w
            .active.item
                .container
                    h1.slider-header
                        | Um jeito
                        strong #{" novo  "}
                        | de fazer as suas coisas.
                    h2.slider-sub-header Maecenas fermentum sem in nunc sagittis iaculis.
                    .cta
                        a.btn.btn-cta.btn-warning(href='features/pricing_tables.html') Some Action Button
                    .slider-browsers-w.clearfix
                        .slider-browser.slider-browser-left.hidden-phone(data-position-bottom='-8%')
                            a(href="#")
                                img(alt='Browser-window-1', src='img/browser-window.png')
                        .slider-browser.slider-browser-center(data-position-bottom='-9%')
                            a(href="#")
                                img(alt='Browser-window-2', src='img/browser-window.png')
                        .slider-browser.slider-browser-right.hidden-phone(data-position-bottom='-8%')
                            a(href="#")
                                img(alt='Browser-window-3', src='img/browser-window.png')
            .item
                .container
                    h1.slider-header I am always on skype, feel free to ask questions.
                    h2.slider-sub-header Maecenas fermentum sem in nunc sagittis iaculis.
                    .cta
                        a.btn.btn-cta.btn-warning(href='features/pricing_tables.html') Some Action Button
                    .row.zoomed-browsers-w
                        .span4
                            .zoomed-browser
                                img(alt='Browser-window-1', src='img/browser-window.png')
                        .span4
                            .zoomed-browser.hidden-phone
                                img(alt='Browser-window-2', src='img/browser-window.png')
                        .span4
                            .zoomed-browser.hidden-phone
                                img(alt='Browser-window-3', src='img/browser-window.png')
        a.carousel-control.left(data-slide='prev', href='#homepage-carousel')
            i.icon-chevron-left
        a.carousel-control.right(data-slide='next', href='#homepage-carousel')
            i.icon-chevron-right
    section.sub-slider-features
        .container
            .row
                .span4
                    .info-bullet
                        i.icon-home
                        p
                            | Imagine poder trabalhar em casa, ter seu proprio negocio, mais tempo para a familia, mais tempo para os amigos...
                .span4
                    .info-bullet
                        i.icon-money
                        p
                            | Pense em ter acesso a novos mercados, aumentar sua produção, diminuir seus custos, obter mais lucro
                .span4
                    .info-bullet
                        i.icon-plane
                        p
                            | Aquele hobbie que parecia tão distante... Idéia (artesanato) Móvel (marcenaria)
    section.section-wrapper
        .container
            .row.row-separated
                .span7
                    h3.section-header Ser Independente
                    p.section-paragraph
                        | Pense como seria maravilhoso voce mesmo poder executar os projetos que tem em mente
                    p.section-paragraph
                        | Pense poder replicar algos que um dia voce viu e gostou
                    p.section-paragraph
                        | Pense em ter liberdade para fazer tudo no seu tempo e da sua forma
                .span5
                    img(alt='Browser-window-2', src='img/browser-window.png')
            .row.row-separated
                .span5
                    img(alt='Browser-window-3', src='img/browser-window.png')
                .span7
                    h3.section-header Ter Suporte
                    p.section-paragraph
                        | Imagine que existe uma empresa
                    p.section-paragraph
                        | uma empresa que torna tudo possível
                    p.section-paragraph
                        | que concretiza seus desejos
                    p.section-paragraph
                        | que provoca mudanças
            .row.row-separated
                .span7
                    h3.section-header Criar Possibilidades
                    strong Imagine...
                    p.section-paragraph
                        | Trace todos os caminhos que voce deseja percorrer e onde deseja estar
                    strong Planeje...
                    p.section-paragraph
                        | avalie todas as variáveis e pondere os riscos
                    strong Execute...
                    p.section-paragraph
                        | tenha iniciativa e de um passo de cada vez
                    strong Premedite...
                    p.section-paragraph
                        | foco no futuro e siga os planos
                    strong Tudo é Possivel
                .span5
                    img(alt='Browser-window-2', src='img/browser-window.png')
            .row.row-separated
                .span12.text-center
                    h1 Aqui na c37 sua imaginação é o nosso limite
            .row
                .span3
                    .white-card
                        .img-w
                            img(src='img/test-square.png')
                        h5 Artesanato
                        p
                            | Faça em casa!
                            br
                            | Acessorios para o lar, lembrancinhas, brinquedos e artigos pessoais.
                .span3
                    .white-card
                        .img-w
                            img(src='img/test-square.png')
                        h5 Marcenaria
                        p
                .span3
                    .white-card
                        .img-w
                            img(src='img/test-square.png')
                        h5 Hobbie
                        p
                            | Automodelismo
                            br
                            | Nautimodelismo
                            br
                            | Aeromodelismo e muito mais.
                            br
                            | Suas paixões sem limites!
                .span3
                    .white-card
                        .img-w
                            img(src='img/test-square.png')
                        h5 Eletrônica
                        p
                            | Sua produção ainda mais precisa, com maior produtividade e em tempo reduzido.
            .row
                .span12.text-center
                    h2 o que apenas nós fazemos por você
    section.section-wrapper
        .container
            .row
                .span3.text-center
                    h4 Inovação
                    p Impacto nos processos
                .span3.text-center
                    h4 Qualidade
                    p Completos, selecionados e duráveis
                .span3.text-center
                    h4 Ensino
                    p O caminho para o sucesso
                .span3.text-center
                    h4 Produto Brasileiro
                    p Simplicidade e eficiencia
