extends ../layout/_rizu

block content-rizu
    .gd
        .cll-7-12
            h2 Sua empresa começa aqui
            p.pfc
                | A Rizu é uma máquina-ferramenta que recebe comandos de um computador para executar suas tarefas. É popularmente conhecida como cnc-router.
            p.pfc
                | A automatização da Rizu no processo de fabricação de peças é feita através dos softwares&nbsp;
                a(href='/lilo') Lilo
                | , também desenvolvidos pela c37.
            p.pfc
                | A Rizu possui uma característica singular, é a única maquina-ferramenta do mercado que agrega todos os componentes necessários para que voce trabalhe imediatamente.
            p.pfc
                | Voce recebe sua Rizu&nbsp;
                a(href='/rizu/specifications')
                    em completa
                | &nbsp;: estrutura, guias, cabos, rolamentos, motores, drivers, fonte de alimentação, fresadora, fresas e softwares.
        .cll-5-12
            img(alt='Browser-window-2', src='img/browser-window.png')

    br

    .gd
        .cll-5-12
            img(alt='Browser-window-3', src='img/browser-window.png')
        .cll-7-12
            h2 Pioneirismo Brasileiro
            p.pfc
                | Uma das inovações da c37 foi desenvolver a Rizu com os sistemas&nbsp;
                a(href='/lilo') Lilo
                | &nbsp;integrados de tal forma que voce pode fazer o seu projeto, gerar o&nbsp;
                a(href='/suport') código G
                | &nbsp;e iniciar a produção.
            p.pfc
                | Outra inovação é que voce irá operar a Rizu em um microcomputador (desktop ou notebook) conectado a Internet, com&nbsp;
                em seu
                | &nbsp;sistema operacional preferido (windows, macOS ou linux) via porta USB.
            p.pfc
                | Não importa se os lotes processados por voce são grandes ou pequenos, se voce possui pouco ou muito espaço, pois oferecemos tres&nbsp;
                a(href='/rizu/specifications') tamanhos
                | &nbsp;de Rizu, uma para cada tipo de necessidade.
            p.pfc
                | Simplificamos todas as etapas para que voce possa dedicar seu tempo e seu dinheiro na solidificação de seus projetos e estruturação da sua empresa.