extends ../layout/_rizu

block content-rizu
    .gd.nm
        .cll-3-12
            h2.nbm Versão
        .cll-3-12.txt-cnt
            h2.nbm Pequena
        .cll-3-12.txt-cnt
            h2.nbm Média
        .cll-3-12.txt-cnt
            h2.nbm Grande
    .gd.nm
        hr
    .gd
        .cll-3-12
            i.icon-big.icon-move
            h3.nbm Comprimento x Largura
        .cll-3-12.txt-cnt
            h3.nbm 70cm x 45cm
        .cll-3-12.txt-cnt
            h3.nbm 90cm x 65cm
        .cll-3-12.txt-cnt
            h3.nbm 110cm x 85cm
    .gd
        .cll-3-12
            i.icon-big.icon-retweet
            h3.nbm Área util de trabalho (X,Y,Z)
        .cll-3-12.txt-cnt
            h3.nbm 50cm x 30cm x 10cm
        .cll-3-12.txt-cnt
            h3.nbm 70cm x 50cm x 10cm
        .cll-3-12.txt-cnt
            h3.nbm 90cm x 70cm x 10cm
    .gd
        .cll-3-12
            i.icon-big.icon-truck
            h3.nbm Peso
        .cll-3-12.txt-cnt
            h3.nbm 20kg
        .cll-3-12.txt-cnt
            h3.nbm 30kg
        .cll-3-12.txt-cnt
            h3.nbm 40kg
    .gd
        .cll-3-12
            i.icon-big.icon-bolt
            h3.nbm Requisitos Elétricos
        .cll-9-12.txt-cnt
            h3.nbm Voltagem: 100V AC Frequência: 50Hz a 60Hz
    .gd
        .cll-3-12
            i.icon-big.icon-download
            h3.nbm Softwares Incluídos
        .cll-9-12.txt-cnt
            h3.nbm lilo&sup3;
    .gd
        .cll-3-12
            i.icon-big.icon-wrench
            h3.nbm Componentes Eletro/Eletrônicos
        .cll-9-12.txt-cnt
            strong Driver de Motores:&nbsp;
            span duru-drive - microstepping 18th
            br
            strong Motor de Passo:&nbsp;
            span Nema23 - 9.9kgf.cm
            br
            strong Spindle:&nbsp;
            span Retificadora SSP Makita MGD102 - 25.000rpm - 480w
    .gd
        .cll-3-12
            i.icon-big.icon-cog
            h3.nbm Requisitos do Sistema
        .cll-9-12.txt-cnt
            span Acesso à Internet
            br
            span Conta c37
            br
            span Um computador (desktop e ou notebook) para a Operação em Mac PC ou Linux:
            br
            ul
                li Mac: OS X v10.6.8 ou posterior
                li PC: Windows 7, Windows Vista, Windows XP Home ou Professional com Service Pack 3 ou posterior
                li Linux: Ubuntu 10.04.4 LTS ou posterior
    .gd
        .cll-3-12
            i.icon-big.icon-gift
            h3.nbm Conteúdo do Pacote
        .cll-9-12.txt-cnt
            ul
                li Componentes de Madeira
                li Componentes Eletrônicos
                li Motores de Passo
                li 05 Fresas
                li Cabo USB
                li Documentação Inicial
    .gd
        .cll-3-12
            i.icon-big.icon-trophy
            h3.nbm Garantia e Serviço Limitado
        .cll-9-12.txt-cnt
            p sua Rizu vem com 90 dias de suporte telefônico gratuito e um ano de garantia limitada.
    //.gd
        .cll-3-12
            h3.nbm Preço
        .cll-3-12.txt-cnt
            h3.nbm r$2.990
            a.btn.grn(href="#")
                i.icon-shopping-cart
                span #{" Comprar "}
        .cll-3-12.txt-cnt
            h3.nbm r$3.490
            a.btn.grn(href="#")
                i.icon-shopping-cart
                span #{" Comprar "}
        .cll-3-12.txt-cnt
            h3.nbm r$3.990
            a.btn.grn(href="#")
                i.icon-shopping-cart
                span #{" Comprar "}
