extends ../layout/_rizu

block content-rizu
    br
    .row
        .span3
            h3 Versão
        .span3.text-center
            h3 Pequena
        .span3.text-center
            h3 Média
        .span3.text-center
            h3 Grande
    hr
    .row
        br
        .span3.text-center
            i.icon-big.icon-move
            h5 Comprimento x Largura
        .span3.text-center
            h5 70cm x 45cm
        .span3.text-center
            h5 90cm x 65cm
        .span3.text-center
            h5 110cm x 85cm
    hr
    .row
        br
        .span3.text-center
            i.icon-big.icon-retweet
            h5 Área util de trabalho (X,Y,Z)
        .span3.text-center
            h5 50cm x 30cm x 10cm
        .span3.text-center
            h5 70cm x 50cm x 10cm
        .span3.text-center
            h5 90cm x 70cm x 10cm
    hr
    .row
        br
        .span3.text-center
            i.icon-big.icon-truck
            h5 Peso
        .span3.text-center
            h5 20kg
        .span3.text-center
            h5 30kg
        .span3.text-center
            h5 40kg
    hr
    .row
        br
        .span3.text-center
            i.icon-big.icon-bolt
            h5 Requisitos Elétricos
        .span9.text-center
            h5 Voltagem: 100V AC Frequência: 50Hz a 60Hz
    hr
    .row
        br
        .span3.text-center
            i.icon-big.icon-download
            h5 Softwares Incluídos
        .span9.text-center
            h5 lilo
    hr
    .row
        br
        .span3.text-center
            i.icon-big.icon-wrench
            h5 Componentes Eletro/Eletrônicos
        .span9
            span Driver de Motores: duru-drive - microstepping 18th
            br
            span Motor de Passo: Nema23 - 9.9kgf.cm
            br
            span Motor de Usinagem: Retificadora Makita GD0601 - 25.000rpm - 400w
    hr
    .row
        br
        .span3.text-center
            i.icon-big.icon-cog
            h5 Requisitos do Sistema
        .span9
            span c37 ID (necessário para alguns recursos)
            br
            span Acesso à Internet
            br
            span Para a Operação em Mac PC ou Linux:
            br
            ul
                li Mac: OS X v10.6.8 ou posterior
                li PC: Windows 7, Windows Vista, Windows XP Home ou Professional com Service Pack 3 ou posterior
                li Linux: Ubuntu 10.04.4 LTS ou posterior


    hr
    .row
        br
        .span3.text-center
            i.icon-big.icon-gift
            h5 Conteúdo do Pacote
        .span9
            ul
                li Componentes de Madeira
                li Componentes Eletrônicos
                li Motores de Passo
                li 05 Fresas
                li Cabo USB
                li Documentação Inicial
    hr
    .row
        br
        .span3.text-center
            i.icon-big.icon-trophy
            h5 Garantia e Serviço Limitado
        .span9
            span Sua duru - router vem com 90 dias de suporte telefônico gratuito e um ano de garantia limitada.
    hr
    .row
        .span3
            h4 Preço
        .span3.text-center
            h5 r$2.499
        .span3.text-center
            h5 r$2.999
        .span3.text-center
            h5 r$3.499
    br
    .row.hidden-phone
        .span3
        .span3.text-center
            a.btn.btn-success(href="#")
                i.icon-shopping-cart
                span #{" Comprar "}
        .span3.text-center
            a.btn.btn-success(href="#")
                i.icon-shopping-cart
                span #{" Comprar "}
        .span3.text-center
            a.btn.btn-success(href="#")
                i.icon-shopping-cart
                span #{" Comprar "}

    br
