

<!--inspirado em footer de http://codepen.io/-->

<div id="footer" class="SiteFooter">

    <div style="float: left">

        <p>

            <strong>C37 - CNC</strong>&nbsp; 
            <a href="/software/" target="_blank" style="text-decoration: none">Softwares</a>&nbsp;
            <a href="/equipment/" target="_blank" style="text-decoration: none">Equipamentos</a>&nbsp;
            <a href="/hardware/" target="_blank" style="text-decoration: none">Hardwares</a>&nbsp;
            <a href="/blog/" target="_blank" style="text-decoration: none">Blog</a>&nbsp;
            <a href="/learning/" target="_blank" style="text-decoration: none">Aprendizado</a>&nbsp;
            <a href="/support/" target="_blank" style="text-decoration: none">Suporte</a>
            <br>
            <strong>Comunidade</strong>&nbsp;
            <a href="/about.html" style="text-decoration: none">Sobre a C37</a>&nbsp;
            <a href="https://status.c37.co" style="text-decoration: none">Status</a>&nbsp;
            <a href="/assets/doc/C37-Terms.pdf" target="_blank" style="text-decoration: none">Termos de uso</a> &nbsp;
            <a href="/assets/doc/C37-Privacy.pdf" target="_blank" style="text-decoration: none">Política de Privacidade</a>
            <br>
            <strong>Social</strong>  &nbsp; 
            <a href="https://www.facebook.com/c37.cnc" target="_blank" style="text-decoration: none">Facebook</a>&nbsp;
            <a href="https://br.pinterest.com/c37cnc/" target="_blank" style="text-decoration: none">Pinterest</a>&nbsp;
            <a href="https://www.instagram.com/c37.cnc/" target="_blank" style="text-decoration: none">Instagram</a>&nbsp;
            <a href="https://www.youtube.com/c/c37-cnc/" target="_blank" style="text-decoration: none">YouTube</a>
            
        </p>

    </div>


    <div style="float: right;">
        <p style="text-align: right">
            <br>
            <br>
            <a class="closing" href="#top" title="C37 - CNC"></a>
            <strong>C37&reg; - {{ site.time | date: "%Y" }}</strong>
            <br>
            <!--<small><strong>CNPJ</strong> - 13.571.746/0001-05</small>-->
            <!--<br>-->
        </p>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

<script src="/assets/js/smooth.js" type="text/javascript"></script>
<script src="/assets/js/script.js"></script>

<script>
    window.onload = function () {
        ! function (e, n, t, a, c, o, s) {
            e.GoogleAnalyticsObject = c, e[c] = e[c] || function () {
                    (e[c].q = e[c].q || []).push(arguments)
                }, e[c].l = 1 * new Date, o = n.createElement(t), s = n.getElementsByTagName(t)[0], o.async = 1, o.src =
                a, s.parentNode.insertBefore(o, s)
        }(window, document, "script", "//www.google-analytics.com/analytics.js", "ga")
        ga('create', 'UA-36787725-2', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    }
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'pt-BR'}
</script>