<div id="footer">
    <div style="float: left;">
        <p style="text-align: center">
            <strong>C37&reg; - 2017</strong>
            <br>
            <small><strong>CNPJ</strong> - 13.571.746/0001-05</small>
            <br>
            <a href="/assets/doc/C37-Terms.pdf" target="_blank">Termos de uso</a> -
            <a href="/assets/doc/C37-Privacy.pdf" target="_blank">Política de Privacidade</a>
            <br>
        </p>
    </div>
    <a class="closing" href="#top" title="CNC ao seu alcance"></a>
</div>
<script src="assets/js/smooth.js" type="text/javascript"></script>
<script>
    window.onload = function () {
        ! function (e, n, t, a, c, o, s) {
            e.GoogleAnalyticsObject = c, e[c] = e[c] || function () {
                    (e[c].q = e[c].q || []).push(arguments)
                }, e[c].l = 1 * new Date, o = n.createElement(t), s = n.getElementsByTagName(t)[0], o.async = 1, o.src =
                a, s.parentNode.insertBefore(o, s)
        }(window, document, "script", "//www.google-analytics.com/analytics.js", "ga")
        ga('create', 'UA-36787725-2', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    }
</script>