<a class="scroll-point pt-top" id="top"></a>
<div id="header">

    <div class="wrap">
        {% if page.url != "/" %}
            <a class="logo" href="/" title="C37 - Com você em todas as etapas"></a>
        {% else %}
            <a class="logo" href="#top" title="C37 - Com você em todas as etapas"></a>
        {% endif %}
        <div class="menu">
            <a href="/software/">Softwares</a>
            <a href="/equipment/">Equipamentos</a>
            <a href="/hardware/">Hardwares</a>
            <a href="/blog/">Blog</a>
            <a href="/learning/">Aprendizado</a>
            <a href="/support/">Suporte</a>
            <!--<a href="mailto:vendas@c37.co?Subject=Compra C37 - Router CNC - Híbrida" target="_top" class="button-buy" style="margin-left: 12px">Comprar</a>-->
        </div>
        <form class="menu-dropdown">
            <select id="menu-dropdown" onchange="location = this.options[this.selectedIndex].value;" style="width: 147px">
                        <option value="#router-cnc">Router CNC</option>
                        <option value="#cad">Softwares</option>
                        <option value="#our-clients">Nossos Clientes</option>
                        <!--                        <option value="#cad">CAD</option>
                                                <option value="#cam">CAM</option>
                                                <option value="#controller">Controlador</option>-->
                        <option value="#support">Suporte & Assistência Técnica</option>
                        <option value="mailto:vendas@c37.co?Subject=Compra C37 - Router CNC - Híbrida">Comprar</option>
                        <!--<option value="http://produto.mercadolivre.com.br/MLB-725940655-fresadora-router-cnc-70-x-45-x-05-softwares-completa-_JM">Comprar</option>-->
                    </select>
            <script>
                document.querySelector('#menu-dropdown').addEventListener('change', function (event) {

                    var value = this.value;

                    if (value.indexOf('http') !== -1) {
                        location = '';

                        var evLink = document.createElement('a');

                        evLink.href = value;
                        evLink.target = '_blank';
                        document.body.appendChild(evLink);
                        evLink.click();

                        // Now delete it
                        evLink.parentNode.removeChild(evLink);
                    }
                });
            </script>
        </form>
    </div>
    <div class="shadow"></div>
    
</div>
<div class="header-placeholder"></div>
