extends page

block content
    section.section-wrapper
        .container
            .row
                .span4
                    a(href="/education")
                        h2 Ensino
                .span8

                    ul.nav.nav-tabs.pull-right
                        li
                            a(href='/education/my-business') Meu Próprio Negócio
                        li
                            a(href='/education/technology') Tecnologia
                        li
                            a(href='/education/cax-tool') Ferramentas CAx

                    script
                        $('a[href*="' + location.pathname.split("/")[2] + '"]').parent().addClass("active");

            block content-education