extends page

block content
    .gd
        .cll-4-12
            .hlm
                a(href="/lilo")
                    img(src="/img/logotype/c37-lilo.png", style="margin-right:10px;width:70px")
                    h1 Lilo
        .cll-8-12.txt-rgt
            .btn-grp
                a.btn(href='/lilo/what-for') Para que serve o Lilo
                a.btn(href='/lilo/design') Design
                a.btn(href='/lilo/versions') Versões
                a.btn(href='/lilo/specifications') Especificações

            a.btn.grn Criar sua conta!

            script
                $('a[href*="' + location.pathname.split("/")[2] + '"]').addClass("bl");

    block content-lilo