extends page

block content
    section.section-wrapper.about-page-w
        .container
            .row
                .span5
                    a(href="/rili")
                        img.pull-left(src="/img/logotype/c37-rili.png", style="margin-right:10px;width:70px")
                    h3 RiLi
                .span7.text-right

                    ul.nav.nav-tabs
                        li
                            a(href='/rili/what-for') Para que serve o RiLi
                        li
                            a(href='/rili/design') Design
                        li
                            a(href='/rili/versions') Versões
                        li
                            a(href='/rili/specifications') Especificações

                        a.btn.btn-warning.hidden-phone(href="#")
                            i.icon-shopping-cart
                            span #{" Assinar "}


                    script
                        $('a[href*="' + location.pathname.split("/")[2] + '"]').parent().addClass("active");

            block content-rili