extends page

block content
    .gd
        .cll-4-12
            .hlm
                a(href="/rili")
                    img(src="/img/logotype/c37-rili.png", style="margin-right:10px;width:70px")
                    h1 RiLi
        .cll-8-12.txt-rgt
            .btn-grp
                a.btn(href='/rili/what-for') Para que serve o RiLi
                a.btn(href='/rili/design') Design
                a.btn(href='/rili/versions') Versões

            a.btn.grn Assinar

            script
                $('a[href*="' + location.pathname.split("/")[2] + '"]').addClass("bl");

    block content-rili