extends page

block content
    .gd
        .cll-4-12
            .hlm
                a(href="/rizu")
                    img(src="/img/logotype/c37-rizu.png", style="margin-right:10px;width:50px")
                    h1 Rizu
        .cll-8-12.txt-rgt
            .btn-grp
                a.btn(href='/rizu/what-for') Para que serve a Rizu
                a.btn(href='/rizu/design') Design
                a.btn(href='/rizu/versions') Versões
                a.btn(href='/rizu/specifications') Especificações
                a.btn(href='/rizu/accessories') Acessórios

            a.btn.grn Comprar sua Rizu

            script
                $('a[href*="' + location.pathname.split("/")[2] + '"]').addClass("bl");

    block content-rizu
