extends page

block content
    section.section-wrapper.about-page-w
        .container
            .row
                .span12
                    a(href="/store")
                        h2 Loja


            block content-store