extends page

block content
    section.section-wrapper.about-page-w
        .container
            .row
                .span12
                    a(href="/suport")
                        h2 Suporte

            block content-suport