footer
    .pre-footer
        .container
            .row
                .span4
                    h5.footer-header Nossa Localização
                    ul.footer-address
                        li
                            strong Endereço:
                            | #{" Av. Andrade Neves, 1455"}
                            a(href="https://maps.google.com/maps?q=Avenida Andrade Neves, 1455 - Vila Pires - Santo André - São Paulo, 09175-360", target="_blank", title="Localize a c37")
                                i.icon-map-marker
                            br
                            | Vila Helena - Santo André - São Paulo
                        li
                            strong CEP:
                            | #{" 09175-360"}
                        li
                            strong Email:
                            | &nbsp;
                            a(href="mailto:ola@c37.co") ola@c37.co
                    br
                    h5.footer-header Open Hardware + Open Software
                    img(src="/img/oss-logo.png", style="height:80px;margin-right:10px")
                    img(src="/img/oshw-logo.png", style="height:80px")
                .span4
                    h5.footer-header Últimos Artigos
                    ul.footer-list
                        li
                            a Vestibulum auctor dapibus
                        li
                            a Aliquam tincidunt mauris
                        li
                            a Lorem ipsum dolor sit
                        li
                            a Consectetur adipisicing elit
                .span4
                    h5.footer-header Projetos
                    ul.footer-img-list.thumbnails
                        li.span1
                            a.thumbnail
                                img(alt='8b9890', src='/img/test-square.png')
                        li.span1
                            a.thumbnail
                                img(alt='8b9890', src='/img/test-square.png')
                        li.span1
                            a.thumbnail
                                img(alt='8b9890', src='/img/test-square.png')
                        li.span1
                            a.thumbnail
                                img(alt='8b9890', src='/img/test-square.png')
                        li.span1
                            a.thumbnail
                                img(alt='8b9890', src='/img/test-square.png')
                        li.span1
                            a.thumbnail
                                img(alt='8b9890', src='/img/test-square.png')
                        li.span1
                            a.thumbnail
                                img(alt='8b9890', src='/img/test-square.png')
                        li.span1
                            a.thumbnail
                                img(alt='8b9890', src='/img/test-square.png')
    .deep-footer
        .container
            .row
                .span3
                    .copyright.pull-left © 2013 C37
                .span9
                    ul.footer-links.pull-right
                        li.hidden-phone
                            a(href="/sitemap") Mapa do Site
                        li.hidden-phone
                            a(href="/privacy") Privacidade
                        li
                            a(href="/term") Termos de uso
                        li.hidden-phone
                            a(href="/cookie") Cookies
                        li(style="top:-10px")
                            a(href="http://creativecommons.org/licenses/by-nc-sa/3.0/br/", target="_blank")
                                img(src="/img/by-nc-sa.png", style="height:15px;")
