#ftr
    .cnt
        br
        .gd
            .cll-4-12
                h2 Nossa localização
                address
                    strong Endereço:
                    | &nbsp;Av. Andrade Neves, 1455
                    a(href="https://maps.google.com/maps?q=Avenida Andrade Neves, 1455 - Vila Pires - Santo André - São Paulo, 09175-360", target="_blank", title="Localize a c37")
                        i.cn-cmp-mp-bk
                    br
                    | Vila Pires - Santo André - São Paulo
                    br
                    strong CEP:
                    | &nbsp;09175-360
                    br
                    strong Telefone:
                    | &nbsp;(11) 4902-3665
                    br
                    strong Email:
                    | &nbsp;
                    a(href="mailto:ola@c37.co") ola@c37.co
            .cll-4-12
                h2 Últimos artigos
                //ul.rtc
                    li
                        a(href='#') Vestibulum auctor dapibus
                    li
                        a(href='#') Aliquam tincidunt mauris
                    li
                        a(href='#') Lorem ipsum dolor sit
                    li
                        a(href='#') Consectetur adipisicing elit
                    li
                        a(href='#') Consectetur adipisicing elit
            .cll-4-12
                h2.footer-header Projetos mais baixados
                ul.tmb
                    li.cll-2-12
                        a(href="#")
                            img(src='/img/test-square.png')
                    li.cll-2-12
                        a(href="#")
                            img(src='/img/test-square.png')
                    li.cll-2-12
                        a(href="#")
                            img(src='/img/test-square.png')
                    li.cll-2-12
                        a(href="#")
                            img(src='/img/test-square.png')
                    li.cll-2-12
                        a(href="#")
                            img(src='/img/test-square.png')
                    li.cll-2-12
                        a(href="#")
                            img(src='/img/test-square.png')
        br
    .btm
        .gd
            .cll-4-12
                small © c37²°¹³
            .cll-4-12
                .rsln
            .cll-4-12
                ul.rgt
                    li
                        small
                            a(href="/sitemap") Mapa do Site
                    li
                        small
                            a(href="/privacy") Privacidade
                    li
                        small
                            a(href="/term") Termos de uso
                    li
                        small
                            a(href="/cookie") Cookies
                    li
                        small
                            a(href="http://creativecommons.org/licenses/by-nc-sa/3.0/br/", target="_blank")
                                img(src="/img/by-nc-sa.png", style="height:15px; margin:3px 0 0 0")
