#hdr
    .cnt
        .nvg.lft
            ul
                li
                    a(href='/')
                        i.lgt
                li
                    .dvs
                li.srh
                    input(placeholder="O que você está procurando?")
                    i.cn-cmp-hp-bk

        .nvg.rgt
            ul
                li
                    a(href='/rizu') Rizu
                li
                    a(href='/lilo') Lilo
                li
                    a(href='/rili') RiLi
                li
                    a(href='/ensino') Ensino
                li
                    a(href='/store') Loja
                li
                    a(href='/help') Ajuda
                li
                    .dvd
                li
                    if (context.user)
                        .mn-dp-dwn
                            i.cn-cmp-sr-bk
                            strong #{context.user.name_user}
                            span.ds
                            .mn.rgt
                                .hdr
                                    | Seu espaço c37
                                    i.cn-cmp-cl-bk.rgt
                                .tm
                                    span #{context.user.name_complete}
                                    br
                                    small #{context.user.email}
                                if(context.user.employee == true)
                                    .tm
                                        a(href='/manager')
                                            i.cn-cmp-stg-bl
                                            span &nbsp;Gerenciamento do site
                                    //.tm
                                        a(href='/article') Meus artigos favoritos
                                .tm
                                    a(href='/signout')
                                        i.cn-cmp-xt-bl
                                        span &nbsp;Sair
                    else
                        .btn-grp
                            a.btn.grn(href='/signup/#{context.uuid.create(9, 16)}') Junte-se a Nós
                            a.btn(href='/signin') Entrar

    script
            $('a[href*="' + location.pathname.split("/")[1] + '"]').addClass("slc");

