doctype html
html
head
    title c37

    meta(name='viewport', content='width=device-width')

    link(rel='shortcut icon', href='/favicon.ico')

    link(href='/css/theme_venera.css', media='all', rel='stylesheet', type='text/css')

    script(src='/js/passer-domesticus.js')
//    script
//        passer.mount([
//            { url: '/js/jquery-1.8.3.min.js' },
//            { url: '/js/theme-venera.js' }
//        ]);
body

    include header

    block content

    include footer

