extends ../layout/page

include _header

block content

    .gd
        .cll-5-12
            .hlm
                a(href="/ensino")
                    h1 Ensino

        .cll-7-12.txt-rgt
            .btn-grp
                a.btn(href='/ensino/meu-proprio-negocio') Meu Próprio Negócio
                a.btn(href='/ensino/tecnologia') Tecnologia
                a.btn(href='/ensino/ferramentas-cax') Ferramentas CAX

            script
                $('a[href*="' + location.pathname.split("/")[2] + '"]').addClass("bl");

    .gd
        .cll-9-12
            block content-education
        .cll-3-12
            h2
                i.cn-cmp-td-bk
                | Passo a Passo
            if (categories.length)
                ul.grp-slr
                    - _.where(categories, {category_group: ""}).forEach(function(category_group) {
                        li
                            a #{category_group.name}
                            ul
                                - _.where(categories, {category_group: category_group.key}).forEach(function(category) {
                                    li
                                        a.b-rgt(href="/ensino/#{section}/#{category.name.toLowerCase().split(' ').join('-')}")
                                            | #{category.name}
                                - })
                    - })

                script
                    $('a[href*="' + decodeURIComponent(location.pathname).split("/")[3] + '"]').addClass("slc")


                h3
                    i.cn-cmp-tg-bk
                    | Mais sobre
                //ul.tg.hd
                    li.tg-tm
                        a(href='#') CSS
                    li.tg-tm
                        a(href='#') JS
                    li.tg-tm
                        a(href='#') Tablets
                    li.tg-tm
                        a(href='#') Monitors
                    li.tg-tm
                        a(href='#') Keyboards
                    li.tg-tm
                        a(href='#') Apple
                    li.tg-tm
                        a(href='#') Microsoft
                    li.tg-tm
                        a(href='#') Samsung
                    li.tg-tm
                        a(href='#') Bootstrap
