extends _page

block content-education
    .grp-bx
        .hdr
            h2.nbm Engenharia para Todos
            .nf
                .tm
                    | Mais sobre:
                    ul.tg.hd
                        li.tg-tm
                            a(href='#') idéias
                        li.tg-tm
                            a(href='#') cad
                        li.tg-tm
                            a(href='#') cam
                        li.tg-tm
                            a(href='#') desenho
                        li.tg-tm
                            a(href='#') modelo
                .tm.thr
                    | por:&nbsp;
                    a(href='http://rili.c37.co/ser003', target='_blank') ser003
                .tm.dt-cln
                    | 2013-07-30T18:00:00.104Z
        .cnt
