extends ../layout/_education

block content-education

    section.section-wrapper.about-page-w
        .container
            .row.row-separated
                .span7
                    h3.section-header Showcase your website
                    p.section-paragraph
                        | Nulla enim justo, accumsan et consequat id, suscipit ac felis. Suspendisse eu quam lorem, vitae tristique risus. Donec sit amet magna luctus metus condimentum tempus dictum id arcu. Etiam et tellus libero, in euismod ipsum. Mauris viverra posuere ultrices. Etiam vel nisl justo. Praesent euismod, nisi at convallis egestas, metus elit cursus augue, a scelerisque purus urna ac urna. Aliquam et tempus ligula. Curabitur aliquam urna at diam gravida ac condimentum justo scelerisque.
                .span5
                    img(alt='Browser-window-2', src='img/browser-window.png')
            .row.row-separated
                .span5
                    img(alt='Browser-window-3', src='img/browser-window.png')
                .span7
                    h3.section-header Using browser windows
                    p.section-paragraph
                        | Integer malesuada condimentum purus, eu consectetur urna congue imperdiet. Donec convallis tempor ipsum, eget imperdiet libero iaculis eu. Sed et mi id mi hendrerit convallis et vel nibh. Sed nec mi a ligula lobortis dignissim sed malesuada sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi lacus eros, aliquam eu sagittis quis, cursus vel eros. Vivamus aliquam, erat at ultrices dapibus, ipsum metus sagittis mi, vitae convallis purus ipsum ac est.
            .row
                .span12
                    .section-action
                        a.btn.btn-large(href='#') Action Button
            .row.row-separated
                .span8
                    h3.section-header Quisque eu nisl neque.
                    p.section-paragraph
                        | Integer malesuada condimentum purus, eu consectetur urna congue imperdiet. Donec convallis tempor ipsum, eget imperdiet libero iaculis eu. Sed et mi id mi hendrerit convallis et vel nibh. Sed nec mi a ligula lobortis dignissim sed malesuada sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi lacus eros, aliquam eu sagittis quis, cursus vel eros. Vivamus aliquam, erat at ultrices dapibus, ipsum metus sagittis mi, vitae convallis purus ipsum ac est.
                .span4
                    img(alt='Browser-window-1', src='img/browser-window.png')
            .row.row-separated
                .span8
                    h3.section-header Nullam mi mi, convallis id vestibulum
                    p.section-paragraph
                        | Vivamus in justo non orci convallis varius a venenatis turpis. Praesent auctor, neque non tempus eleifend, dolor sapien rhoncus ligula, id aliquam erat erat eget odio. Vestibulum porttitor vestibulum lacus, ac auctor mauris lacinia ac. Donec a massa purus, et vehicula eros. Proin gravida, purus feugiat semper ornare, justo dolor venenatis augue, non convallis nisi massa eget diam. Vivamus luctus commodo elementum.
                .span4
                    img(alt='Browser-window-3', src='img/browser-window.png')
            .row
                .span12
                    h3.section-header Our Team
                .span3
                    .white-card
                        .img-w
                            img(alt='Photo-card', src='img/test-user.png')
                        h5 Frank Lampard.
                        p
                            | Cras metus elit, consectetur sed congue vel, sollicitudin eget odio. Cras lacinia laoreet libero et mattis.
                .span3
                    .white-card
                        .img-w
                            img(alt='Photo-card', src='img/test-user.png')
                        h5 Fernando Torres.
                        p
                            | Cras metus elit, consectetur sed congue vel, sollicitudin eget odio. Cras lacinia laoreet libero et mattis.
                .span3
                    .white-card
                        .img-w
                            img(alt='Photo-card', src='img/test-user.png')
                        h5 Leo Messi.
                        p
                            | Cras metus elit, consectetur sed congue vel, sollicitudin eget odio. Cras lacinia laoreet libero et mattis.
                .span3
                    .white-card
                        .img-w
                            img(alt='Photo-card', src='img/test-user.png')
                        h5 David Villa.
                        p
                            | Cras metus elit, consectetur sed congue vel, sollicitudin eget odio. Cras lacinia laoreet libero et mattis.
            .row
                .span12
                    .section-action
                        a.btn.btn-warning.btn-large(href='#') Action Button

