extends ../layout/page

block content

    include _header

    .gd
        .cll-7-12
            h2 Seu desenvolvimento e aprimoramento
            p.pfc
                | Aqui você encontrará conceitos, histórias, informações que lhe proporcionarão um novo ponto de vista.
            p.pfc
                | Queremos estimulá-lo a aprofundar seus conhecimentos, renovar suas atitudes e conscientizar da importância do autodesenvolvimento e da busca constante do aprendizado para uma melhor interação e integração como o meio que o cerca.
            p.pfc
                | Acreditamos que não há possibilidades de nos desenvolvermos economicamente e, consequentemente elevarmos o nosso nível social, sem aumentarmos as nossas habilidades, sejam elas intelectuais ou técnicas.
            p.pfc.txt-rgt
                | Boa Leitura!
        .cll-5-12
            img(src='img/browser-window.png')

    .gd
        .cll-1
            h2 Aja, interaja e transforme-se.

            .mn-scr
                ul
                    li.cll-3-12
                        a(href='#')
                            img.mn-scr-tm(src='/img/logotype/c37-full.png', width="65px", data-type="icon")
                            h2.mn-scr-tm(data-type="mText") Independência
                            p.mn-scr-tm(data-type="sText")
                                | Trabalhar em casa, no seu próprio negocio, ter mais tempo para a familia, mais tempo para os amigos...

                    li.cll-3-12
                        a(href='#')
                            img.mn-scr-tm(src='/img/logotype/c37-full.png', width="65px", data-type="icon")
                            h2.mn-scr-tm(data-type="mText") Produtividade
                            p.mn-scr-tm(data-type="sText")
                                | Ter acesso a novos mercados, aumentar sua produção, diminuir seus custos, obter mais lucro...

                    li.cll-3-12
                        a(href='#')
                            img.mn-scr-tm(src='/img/logotype/c37-full.png', width="65px", data-type="icon")
                            h2.mn-scr-tm(data-type="mText") Diversão
                            p.mn-scr-tm(data-type="sText")
                                | Aeromodelismo, Automodelismo e Ferromodelismo, praticar aquele hobbie tão desejado...

                    li.cll-3-12
                        a(href='#')
                            img.mn-scr-tm(src='/img/logotype/c37-full.png', width="65px", data-type="icon")
                            h2.mn-scr-tm(data-type="mText") Lorem Ipsum
                            p.mn-scr-tm(data-type="sText")
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.

    br
