extends _page

block content-education
    .grp-bx
        .hdr
            h2.nbm Era da informação
            .nf
                .tm
                    | Mais sobre:
                    ul.tg.hd
                        li.tg-tm
                            a(href='#') industrial
                        li.tg-tm
                            a(href='#') informação
                        li.tg-tm
                            a(href='#') tecnologia
                        li.tg-tm
                            a(href='#') mobilidade
                        li.tg-tm
                            a(href='#') acesso
                .tm.thr
                    | por:&nbsp;
                    a(href='http://rili.c37.co/ser003', target='_blank') ser003
                .tm.dt-cln
                    | 2013-07-30T18:00:00.104Z
        .cnt
